<div class="bg-light mt-4 ">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
            <div class="container-fluid">
                <p class="footer-heart ml-auto">
                    Made with
                    <img class="emoji" alt="heart" height="20" width="20"
                        src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png">
                    by JAVA team
                </p>
            </div>
        </nav>
    </div>
</div>