<footer class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <span>Copyright © 2020 Narola Infotech Pvt. Ltd. All Rights Reserved.</span>
            </div>
            <div class="col-md-6">
                <p class="footer-heart m-0 mx-auto">
                    Made in
                    <img class="emoji" alt="heart" height="20" width="20"
                        src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png">
                    with Narola by JAVA team
                </p>
            </div>
        </div>
    </div>
</footer>