/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.login-wrapper {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error-message {
  color: red;
}

.dissable{
    color: lightblue;
}

.select-sm{
    width: 70px;
}